<div class='page-default-size'>
    <div class='home-blurb'>
        <h1>Full Stack Developer</h1>
        <h1>Business Strategist</h1>
        <p>Helping start-ups and small businesses develop high grade websites and exceptional user experience to drive user flow</p>
        <a href="#portfolio" class="arrow-down">View Portfolio</a>
    </div>
</div>
<div id='portfolio'>
    <div class='item-wrapper'>
        <%= link_to image_tag('split_logo.png', height: 100, width: 100, style: 'background-color: #ffffff'), 'http://split-calc.herokuapp.com', style: 'background-color: #ffffff' %>
        <p class="text">React, Mobile</p>
    </div>
    <div class='item-wrapper'>
        <%= link_to image_tag('mutable_matter_logo.png', height: 100, width: 100, style: 'background-color: #ffffff'), 'http://mutable-matter.herokuapp.com', style: 'background-color: #ffffff' %>
        <p class="text">Rails, HTML5, CSS3, Responsive</p>
    </div>
    <div class='item-wrapper'>
        <a href='https://www.farmersemarket.co/' style='background-color: #384D48'>Farmers' eMarket</a>
        <p class="text">Rails, HTML5, CSS3, Desktop only</p>
    </div>
    <div class='item-wrapper'>
        <a href='https://lujo-cars.herokuapp.com/' style='background-color: #000000'>Lujo</a>
        <p class="text">Rails, HTML5, CSS3, Desktop only</p>
    </div>
</div>
<div id='value-prop'>
    <section style='background-color: #ffffff'>
        <h1 style='background-color: #ffffff'>Lets work together!</h1><br>
        <p style='background-color: #ffffff'>Whether you are a developer looking for collaboration or a business owner looking 
        to create an online presence or seek consultancy, let's get in touch. I have experience in:</p><br>
        <p class='experience' style='background-color: #ffffff'>Creating responsive websites that work on desktop, tablet and mobile</p>
        <p class='experience' style='background-color: #ffffff'>Working with a design template or designing my own, based on need</p>
        <p class='experience' style='background-color: #ffffff'>Working with non-technical individuals</p>
        <p class='experience' style='background-color: #ffffff'>Finance business strategy</p>
    <section>
</div>

